<style>

th {
  text-align: left;
}

th, td {
  padding: 2px;
  font-size: 15px;
}

td {
  vertical-align: top;
  height: 30px;
}

tr:hover {background-color: #f5f5f5;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

thead {
    background-color: #333;
    color: #fff;
}

.image-cropper {
    width: 100px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0; 
  border-color: inherit;
}

</style>